:root {
    --text: Arial, Helvetica, sans-serif;
    --title-color: rgb(82, 206, 152);
    --text-color: rgb(255, 255, 255);
    --back-color: rgb(209, 209, 209);
}

* {
    font-family: var(--text);
}

.artist {
    margin: 0 auto;
    display: block;
}

.artist-name {
    text-align: center;
}

.artist__album {
    width: 21%;
    display: inline-block;
    text-align: center;
    background-color: var(--back-color);
    padding: 30px 0;
    border-radius: 50px;
    margin-bottom: 90px;
    margin-left: 55px;
}

.artist__album-name {
    font-size: 12px;
}

.artist__album-price {
    background-color: rgb(13, 146, 235);
    color: rgb(255, 255, 255);
    width: 30%;
    padding: 5px;
    margin: 0 auto;
    margin-top: 15px;
    border-radius: 20px;
    font-size: 12px;
}


.artist__album-release {
    margin-top: 15px;
    font-size: 9px;
}

.artist__album-genre {
    margin-top: 5px;
    background-color: rgb(83, 74, 74);
    color: var(--back-color);
    width: 20%;
    font-size: 11px;
    margin: 0 auto;
    border: 1px solid rgb(0, 0, 0);
    padding: 5px;
}